<div class="container">
  <h1 class="display-1">Lista de tareas </h1>
  <input #textoTarea class="form-control my-2" type="text" placeholder="¿Qué vamos a hacer hoy?" (keyup.enter)="agregarTarea(textoTarea.value); 
            textoTarea.value = '' "
  >
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let tarea of tareas">
      <div class="form-check">
          <input [checked]="tarea.completada" type="checkbox" class="form-check-input" name="" id=""
          (click)="toggleTarea(tarea.id)">
          <label for="" class="form-check-label" [class.text-success]="tarea.completada" >{{ tarea.titulo }}</label>
         
            
          
          
          <button class="close" type="button"
          (click)="eliminarTarea(tarea.id)">
          &times;</button>
      </div>
      
    </li>
  </ul>
  <p *ngIf="tareas.length > 0"><span class="badge badge-primary"></span> {{tareas.length}} Tareas Pendientes</p>
  <p *ngIf="tareasCompletadas() > 0">
    <span class="badge badge-success">{{ tareasCompletadas() }}</span>
    Completadas
  </p>
</div>
